@model IEnumerable<Dotnetsoft.HiFiLM.Graph.Models.User>

@{
    ViewBag.Title = Resources.ResourceDictionary.UsersManagement_AllUsers;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-tools float-left">
                    <div class="input-group input-group-sm mt-0">
                        <input type="text" id="txtUserSearch" name="table_search" class="form-control" placeholder="Name or email" data-request-url="@Url.Action("SearchUsers", "UsersManagement")" >
                    </div>
                </div>
                <div class="card-tools">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-secondary">New User</button>
                        <button type="button" class="btn btn-outline-secondary">Delete User</button>
                        <button type="button" class="btn btn-outline-secondary">Bulk Create</button>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>@Resources.ResourceDictionary.UsersManagement_DisplayName</th>
                            <th>@Resources.ResourceDictionary.UsersManagement_PrincipalName</th>
                            <th>@Resources.ResourceDictionary.UsersManagement_UserType</th>
                            <th>@Resources.ResourceDictionary.UsersManagement_AssignedLicenses</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@{ 
                            var graphRequest = TempData["GraphRequest"] as Microsoft.Graph.IGraphServiceUsersCollectionRequest;
                            TempData.Keep("GraphRequest");
                        }*@
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.UserName</td>
                                <td>@item.UserPrincipalName</td>
                                <td>@item.UserType</td>
                                <td>@item.AssignedLicenses</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
