@model IEnumerable<Dotnetsoft.HiFiLM.Graph.Models.User>

@{
    ViewBag.Title = Resources.ResourceDictionary.UsersManagement_AllUsers;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.Title</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>@Resources.ResourceDictionary.UsersManagement_DisplayName</th>
                            <th>@Resources.ResourceDictionary.UsersManagement_PrincipalName</th>
                            <th>@Resources.ResourceDictionary.UsersManagement_UserType</th>
                            <th>@Resources.ResourceDictionary.UsersManagement_AssignedLicenses</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.UserName</td>
                                <td>@item.UserPrincipalName</td>
                                <td>@item.UserType</td>
                                <td>@item.AssignedLicenses</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



